@model WebApp_ForDevOps.ViewModels.AddOperationRequest

@{
    ViewData["Title"] = "Add";
}

<h1>Add</h1>

<h4>AddOperationRequest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NumberOne" class="control-label"></label>
                <input asp-for="NumberOne" class="form-control" />
                <span asp-validation-for="NumberOne" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberTwo" class="control-label"></label>
                <input asp-for="NumberTwo" class="form-control" />
                <span asp-validation-for="NumberTwo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        <h3>The result is @Model.Result</h3>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
