@model WebApp_ForDevOps.ViewModels.RaiseOperationRequest

@{
    ViewData["Title"] = "Raise";
}

<h1>Raise</h1>

<h4>RaiseOperationRequest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Raise">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NumberBase" class="control-label"></label>
                <input asp-for="NumberBase" class="form-control" />
                <span asp-validation-for="NumberBase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberExponent" class="control-label"></label>
                <input asp-for="NumberExponent" class="form-control" />
                <span asp-validation-for="NumberExponent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
                <h3>The result is @Model.Result</h3>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
